<!-- ユーザーの詳細,15章 -->
<div　class="profile-container">
  <h3 class= "plofile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  
  <% if @user.id == current_user.id %><!--16章で追加-->
   <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <!--編集画面へのリンクが出ない-->
  <!--今回必要なヘルパーメソッドはcurrent_userのidだったから-->
  <% end %>

</div>

<%= render 'post_images/list', post_images: @post_images %>